<html>
    <head>
        <title>{{ title }}</title>
        <link href="style.css" rel="stylesheet" type="text/css">
        <link href="grid.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <h1>{{ title }}</h1>
        <ul class="rig columns-{{ cols }}">
        {% for image in images %}
            <li>
                <a href="{{ image.url }}">
                    <img src="{{ image.thumb_url }}" title="{{ image.title }}" />
                </a>
            </li>
        {% endfor %}
        </ul>
    </body>
</html>
